* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
      font-family: Alice;
      src: url('./assets/fonts/Alice.ttf');
  }

  @font-face {
      font-family: Azeroth;
      src: url('./assets/fonts/Azeroth Cyrillic.ttf');
  }

  @font-face {
      font-family: Adigiana2;
      src: url('./assets/fonts/Adigiana_2.ttf');
  }

body {
   background: radial-gradient(#444C5C, #ce5a57);
   background-image: url('./assets/595.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
.victory {
    overflow: hidden;
}

  
html {
    min-height: 100vh;
    font-size: 20px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
}
.overlay.visible {
    display: flex;
    animation: ovelay-grow 500ms forwards;
}

@keyframes ovelay-grow {
    from {
        background-color: rgba(0, 0, 0, alpha);
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}


/*              HEADER              */
.header {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 24%);
    max-width: 1920px;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    z-index: 5;
  }
  
  .header__container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
    .header__logo {
        font-family: 'Alice';
        color: #d3ad21;
        font-size: 19px;
        -webkit-user-select: none;
    }

    .header__logo:hover {
        color: gold;
        cursor: pointer;
    }

    .header__line-1-logo {
        text-align: center;
    }

    .header__line-2-logo {
        text-align: center;
    }
    
    
  
  
  .header_buttons {
    color: wheat;
    font-family: 'Adigiana2';
    
    font-size: 1.3em;
    display: flex;
    gap: 3vw;
    cursor: pointer;
    vertical-align: center;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
  }


  .btn_setting {     
    transition: 0.2s all;  
  } 
  .btn_setting.active {
    color: #d3ad21;
  }
  
  .btn_setting:hover {
    color: #d3ad21;
    transform: scale(1.05);
  }

  .header__stop-btn {
      position: relative;
  }
  
  #stop_btn {
    text-transform: uppercase;    
    color: #5f5d56;
    font-family: 'Azeroth';
    font-size: 25px;
    transition: 0.2s all;
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    position: absolute;
    margin-top: -15px;
  }

  #stop_btn:hover{
    color: gold;
    transform: scale(1.03);
  }
/*              /HEADER              */
.game-container {  
    position: relative;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    
    perspective: 500px;
}

.overlay-game {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 24%);
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 96%;
    z-index: 2;
}

.overlay-game.visible {
    display: block;
}

.game-container__info {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: 'Alice';
    font-size: 2em;
    color: wheat;
}

.game-info__start-game {
    position: absolute;
    left: 51%;
    transform: translateX(-51%);
    cursor: pointer;
    color: #d3ad21;
    outline: none;
    border: 0;
    background: transparent;
    font-family: 'Alice';
    font-size: 1em;
}

.game-info__start-game:hover {
    color: gold;
}


.card {
    /* background-color: black; */
    height: 175px;
    width: 125px;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0.25rem black;
    transform-style: preserve-3d;
    border-radius: 0.5rem;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
}

.card__back {
    background-color: violet;
    background-image: url('./assets/image.png');
    background-image: url('./assets/image1.jpg');
    background-position: center;
    background-size: cover;
    /* display: none; */
    transform: rotateY(180deg);
}

.card__back.disabled {
    background-blend-mode: multiply;
    background-color: rgb(39 78 121);
}
.card__front {
    background-color: rgba(1,17,30, 0.5);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    transition: 0.2s all;
}

.card.flipped {
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
}

.matched {
   animation: dance 1s linear infinite 500ms; 
}

.matched_bg {
    background-blend-mode: multiply;
    background-color: rgba(10, 207, 131, 0.5);
}

.no_matched {
    background-blend-mode: multiply;
    background-color: rgba(242, 78, 30, 0.5);
}


@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
      transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}


.card:hover{
    /* transform: translateZ(0.1rem); */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

/* .card:hover{
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
} */

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(3, auto);
    }

    .game-container__info {
        flex-direction: column;
        align-items: center;
    }
}


/*      ABOUT     */

.about-container {
    width: 1000px;
    height: 700px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 24%);
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 100px;
}

.about-game__title {
    font-family: 'Alice';
    font-size: 2em;
    color: #d3ad21;
    text-align: center;
}

.about-game__rules {
    color: wheat;
    display: flex;
    row-gap: 18px;
    flex-direction: column;
    padding-top: 30px;
    font-family: 'Adigiana2';
    font-size: 30px;
}

/*      /ABOUT     */


/*       SCORE     */
.score-container {
    width: 1000px;
    height: 700px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 24%);
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 100px;
}

.best-score__title {
    font-family: 'Alice';
    font-size: 2em;
    color: #d3ad21;
    text-align: center;
    padding-bottom: 30px;
}

.best-score-item {
    height: 40px;
    max-width: 846px;
    background: rgba(223, 221, 221, 0.5);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: wheat;
    font-family: 'Adigiana2';
    overflow: hidden;
    padding: 0 5px 0 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.best-score-item__name {
    column-gap: 5px;
    display: flex;
    font-size: 23px;
}

.best-score-item__email {
    font-size: 18px; 
    text-align: left;
}

.best-score-item__score {
    color: #d3ad21;
    font-family: 'Azeroth';
    font-size: 25px;
    transform: translateY(20%);
}

#score_table {
    padding-left: 5px;
    color: wheat;
}
/*      /SCORE     */


/*       SETTING     */
.setting-field {
    width: 1000px;
    height: 700px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 24%);
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
}

.setting-field__title {
    font-family: 'Alice';
    font-size: 2em;
    color: #d3ad21;
    text-align: center;
    padding-bottom: 30px;
}

.settings {
    display: flex;
    justify-content: space-evenly;
}

.cards-type-menu__title {
    font-family: 'Azeroth';
    color: #d3ad21;
    font-size: 2em;
}

option,
select {
    appearance: none;
    background:none;
	color: #14496b;
    border: none;
    font-family: 'Adigiana2';
    font-size: 20px;
}

.form-type-game :focus,
.form-type-game :hover {
    cursor: pointer;
	outline: none;
    border: none;
}

.form-type-game select{
	appearance: none;
    -webkit-appearance: none;
     -moz-appearance: none;
	width: 210px;
    height: 34px;
	background: none;
    color: wheat;
    font-size: 24px;
    
}



/*      /SETTING     */


/*MODAL*/
.victory-modal {  
    display: none;  
    font-family: 'Alice';
    position: fixed;
    color: #d3ad21;
    background-color: rgba(0,0,0,0.7);
    padding: 59px;
    width: 530px;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.victory-modal__text {
    font-size: 25px;
    text-align: center;  
}

.victory-modal__score {
    color: gold;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}

#score {
    padding-left: 10px;
}
.victory-modal.visible {
    display: block;
    animation: ovelay-grow2 500ms forwards;
}

@keyframes ovelay-grow2 {
    from {
        background-color: rgba(0, 0, 0, alpha);
    }
    to {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.feedback__container {
    background: gold;
}

.register-form__title {
    text-align: center;
    font-size: 36px;
    line-height: 145%;
    font-family: 'Adigiana2';
    color: wheat;
}

.register-form__name {
    margin-top: 20px;
}

.register-form__name-input {
    font-size: 25px;
    line-height: 145%;
    margin: 0;
    margin-bottom: 11px;    
    color: wheat;    
    font-family: 'Adigiana2';
}

input.register-form__input::placeholder{
    font-size: 20px;
    line-height: 135%;
    color: #B5B5B5;
}

.register-form__input {
    outline: none;
    background-color: transparent;
    height: 26px;
    border: none;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 2px solid #ea0909;
    font-size: 26px;
    color: wheat;
    font-family: 'Adigiana2';
}

.register-form__email {
    margin-top: 34px;
}

.register-form__buttons {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-around;
    
}

.form_btn {
    font-size: 39px;
    cursor: pointer;
    transition: 0.2s all;
}

.form_btn:hover {
    transform: scale(1.03);
}

.register-form__send-button {
    font-family: 'Alice';
    color: #a8afb6;
    cursor: pointer;    
    outline: none;
    border: none;
    background-color: transparent;
    line-height: 21px;
    text-align: center;
}

.register-form__close-modal {
    color: #d3ad21;
}

/*LOOOOOOSE*/
.lose-text {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 6;
    color: #fc4848;;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    font-family: 'Alice';
    font-size: 90px;
  }

  /* .lose-text-small {
    font-size: 1em;
  } */
  
  .lose-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
  }


@keyframes ovelay-grow3 {
    from {
        font-size: 0;
        background-color: rgba(0, 0, 0, alpha);
    }
    to {
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
/*MODAL*/